<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-demo" version="0.0.1">
  <name>Demo</name>
  <description>Cordova Demo Plugin</description>
  <engines>
      <engine name="cordova-ios" version=">=3.8.0" />
    </engines>
  <author>Akshay Shinde</author>
  <license>Apache 2.0 License</license>
  <asset src="dpool.gif" target="images/dpool.gif"></asset>
  <keywords>cordova,demo</keywords>
  <js-module src="www/demo.js" name="demo">
    <runs />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Demo">
        <param name="ios-package" value="Demo"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/Demo.h" />
    <source-file src="src/ios/Demo.m" />
  </platform>
</plugin>
